<template>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center" style="background: #232323;">
    <div style="width:450px;height: 500px;">
      <p class="text-center text-uppercase" style="font-size: 48px; color: #fff;">CMS</p>
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size: 36px;">
            <router-link class="link" v-bind:class="{'active-link': $route.path === '/'}"  :to="{ path: '/'}" replace>Log in</router-link>
            <span> / </span>
            <router-link class="link" v-bind:class="{'active-link': $route.path === '/signup'}" class-active="active-link" to="signup">Sing up</router-link>
          </p>
          <router-view></router-view>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <p class="card-subtitle mb-2">Sign in with</p>
          <ul class="nav">
            <li class="nav-item btn btn-sm">
              <a :href="`https://oauth.vk.com/authorize?client_id=${VK_CLIENT_ID}&redirect_uri=${VK_REDIRECT_URI}&\scope=${VK_SCOPE}&display=${VK_DISPLAY}&v=${VK_API_VERSION}&response_type=${VK_RESPONSE_TYPE}`">
                <img  src="static/img/vk.svg" height="40"/>
              </a>
            </li>
            <li class="nav-item btn btn-sm" ref="telegramLoginWidget"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {VK_CLIENT_ID, VK_REDIRECT_URI, VK_SCOPE, VK_DISPLAY, VK_RESPONSE_TYPE, VK_API_VERSION} from '../common/config'
  
  export default {
    name: 'auth',
    data () {
      return {
        VK_CLIENT_ID, VK_REDIRECT_URI, VK_SCOPE, VK_DISPLAY, VK_RESPONSE_TYPE, VK_API_VERSION
      }
    },
    mounted () {
      // add telegram login widget (can't include script tags into templates)
      let scriptEl = document.createElement('script')
      scriptEl.setAttribute('src', 'https://telegram.org/js/telegram-widget.js?4ttps://cdn.com/somescript.js')
      scriptEl.setAttribute('data-telegram-login', 'CLMSBot')
      scriptEl.setAttribute('data-size', 'large')
      scriptEl.setAttribute('data-auth-url', '/telegramAuth')
      this.$refs.telegramLoginWidget.appendChild(scriptEl)
    }
  }
</script>

<style scoped>
  .active-link {
    color: #4527A0 !important;
  }
  .link {
    color: #000;
  }
</style>
