<template>
  <div class="h-100">
    <vue-topprogress ref="topProgress"/>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark">
      <a class="navbar-brand" href="#">
        <img src="/static/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        CMS
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link" active-class="active" to="/app/lecture">Lectures</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" active-class="active" to="/app/archive">Archive</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" active-class="active" to="/app/mail">Mail</router-link>
          </li>
        </ul>
      </div>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            v4.0
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
            <a class="dropdown-item active">Latest (4.x)</a>
            <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/">v4 Alpha 6</a>
            <a class="dropdown-item" href="https://getbootstrap.com/docs/3.3/">v3.3.7</a>
            <a class="dropdown-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a>
          </div>
        </li>
      </ul>
    </header>
    <router-view></router-view>
  </div>
</template>

<script>
  import {LOGOUT} from '../store/actions.type'

  export default {
    name: 'dashboard',
    methods: {
      logout () {
        this.$store
          .dispatch(LOGOUT)
          .then(() => this.$router.push('/kek'))
      }
    },
    computed: {
      currentPath () {
        return this.$router.currentRoute.name
      }
    }
  }
</script>

<style scoped>

</style>
