<template>
  <div class="d-flex flex-wrap p-3">
    <template v-for="lesson in lessons">
      <div class="card" style="width: 18rem; height: 200px;">
        <div class="card-header">{{lesson.author}}</div>
        <div class="card-body">{{lesson.name}}</div>
        <div class="card-footer">{{lesson.date}}</div>
      </div>
    </template>
  </div>
</template>

<script>
  export default {
    name: 'lecture',
    data () {
      return {
        lessons: [{name: 'History of seven kindoms', date: '48 students', author: 'Archymaester'}]
      }
    }
  }
</script>

<style scoped>
  .card:not(:first-child) {
    margin-left: 16px;
  }
</style>
