<template>
  <form v-on:submit="onSubmit(email, password)">
    <div class="form-group">
      <input type="email" v-model="email" class="form-control" id="emailInput"
             aria-describedby="emailHelp" placeholder="Enter email" style="font-size: 14px; height: 45px;" v-bind:class="{'is-invalid': errors != null}">
    </div>
    <div class="form-group">
      <input type="password" v-model="password" class="form-control" id="passwordInput"
             placeholder="Password"  style="font-size: 14px; height: 45px;" v-bind:class="{'is-invalid': errors != null}">
      <div class="invalid-feedback" v-if="errors != null">
        Bad email or password.
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
    <button type="button" class="btn btn-link">Forgot password</button>
  </form>
</template>

<script>
  import {LOGIN} from '@/store/actions.type'
  import {GET_AUTH_ERRORS} from '@/store/getters.type'

  export default {
    name: 'login',
    data () {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      onSubmit (email, password) {
        this.$store
          .dispatch(LOGIN, {email, password})
          .then(() => this.$router.push('/app/lecture'))
      }
    },
    computed: {
      errors () {
        return this.$store.getters[GET_AUTH_ERRORS]
      }
    }
  }
</script>

<style scoped>

</style>
