<template>
  <div class="d-flex flex-wrap">
    <div class="card" style="width: 600px; height: 300px;">
      <div class="card-body">
        <table class="table">
          <thead>
          <th scope="col">Subject</th>
          <th scope="col">To</th>
          <th scope="col">From</th>
          <th scope="col">Date</th>
          </thead>
          <tbody>
          <tr v-for="mail in inbox">
            <td>{{mail.subject}}</td>
            <td>{{mail.to}}</td>
            <td>{{mail.from}}</td>
            <td>{{mail.date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="card ml-3" style="width: 600px; height: 300px;">
      <div class="card-body">
        <table class="table">
          <thead>
          <th scope="col"><input type="checkbox"></th>
          <th scope="col">Subject</th>
          <th scope="col">To</th>
          <th scope="col">From</th>
          <th scope="col">Date</th>
          <th scope="col">Sended</th>
          </thead>
          <tbody>
          <tr v-for="mail in outbox">
            <td><input type="checkbox"></td>
            <td>{{mail.subject}}</td>
            <td>{{mail.to}}</td>
            <td>{{mail.from}}</td>
            <td>{{mail.date}}</td>
            <td>{{mail.isSend}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'mail',
    data () {
      return {
        inbox: [{subject: 'Keks', to: 'Your mommy', from: 'BBN', date: '29 BC'}],
        outbox: [{subject: 'Keks', to: 'Your mommy', from: 'BBN', date: '29 BC', isSend: false}]
      }
    }
  }
</script>

<style scoped>

</style>
